.table-container {
  overflow-x: auto;
  display: flex;
  justify-content: center;

  table {
    flex: 0 0 auto;
  }

  .table-thumb {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 2px;
    vertical-align: middle;
  }

  .region-map {
    width: 55px;
    object-fit: contain;
    vertical-align: middle;
  }

  a {
    color: #000099;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-color: #CCCCFF;
    }
  }

  tr:nth-child(even) {
    background-color: #fff6de;
  }
}
