<div class="table-container">
  <table mat-table [dataSource]="tableData" matSort (matSortChange)="onSortChange($event)">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let castle">{{ castle.position }}</td>
    </ng-container>

    <ng-container matColumnDef="score_total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let castle">{{ castle.score_total | number:'1.0-0' }}</td>
    </ng-container>

    <ng-container matColumnDef="score_visitors">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Visitors ★</th>
      <td mat-cell *matCellDef="let castle">{{ castle.score_visitors != null ? (castle.score_visitors | number:'1.1-1') : '' }}</td>
    </ng-container>

    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
      <td mat-cell *matCellDef="let castle">
        <a [routerLink]="['/castles', castle.castle_code]">
          @if (!failedLocal().has(castle.castle_code)) {
            <img class="table-thumb"
                 [src]="'/images/castles/small/' + castle.castle_code + '_small.jpg'"
                 [alt]="castle.castle_name"
                 [title]="castle.castle_name"
                 (error)="onLocalError(castle)"
                 loading="lazy" />
          } @else if (castle.wikipedia_thumbnail && !failedWiki().has(castle.castle_code)) {
            <img class="table-thumb"
                 [src]="castle.wikipedia_thumbnail"
                 [alt]="castle.castle_name"
                 [title]="castle.castle_name"
                 (error)="onWikiError(castle)"
                 loading="lazy" />
          } @else {
            <mat-icon class="thumb-icon">castle</mat-icon>
          }
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="castle_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Castle</th>
      <td mat-cell *matCellDef="let castle">
        <a [routerLink]="['/castles', castle.castle_code]">{{ castle.castle_name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let castle">
        <a [routerLink]="['/countries', castle.country]">{{ castle.country }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
      <td mat-cell *matCellDef="let castle">{{ castle.place }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      <td mat-cell *matCellDef="let castle">
        <a [routerLink]="['/countries', castle.country]" [queryParams]="{ region: castle.region }">{{ castle.region }}</a>
        @if (castle.region_code) {
          <br>
          <img class="region-map"
               [src]="'/images/maps/' + castle.region_code + '.jpg'"
               [alt]="castle.region"
               [title]="castle.region"
               (error)="onImgError($event)"
               loading="lazy" />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="castle_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let castle">
        {{ castle.castle_type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="era">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Era</th>
      <td mat-cell *matCellDef="let castle">{{ eraLabel(castle.era) }}</td>
    </ng-container>

    <ng-container matColumnDef="condition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Condition</th>
      <td mat-cell *matCellDef="let castle">{{ castle.condition }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
