<mat-button-toggle-group
  [value]="viewModeService.mode()"
  (change)="setView($event.value)"
  aria-label="View mode">
  <mat-button-toggle value="list" aria-label="List view">
    <mat-icon>view_list</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="grid" aria-label="Grid view">
    <mat-icon>grid_view</mat-icon>
  </mat-button-toggle>
  @if (!hideMap()) {
    <mat-button-toggle value="map" aria-label="Map view">
      <mat-icon>map</mat-icon>
    </mat-button-toggle>
  }
</mat-button-toggle-group>
