<div class="visitors-page">
  <h1>Castles without a photo</h1>
  <p>
    This site needs a lot of photos to illustrate the castles. For copyright reasons, many castles still lack a good photo.<br>
    Perhaps you have photographed some topcastles? If you want to contribute a photo to this site, please send an
    <a href="mailto:robert@topkastelen.nl">e-mail</a>. The copyright of all photos remains with the photographer.
  </p>

  <table class="castle-table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Score</th>
        <th>Castle</th>
        <th>Country</th>
        <th>Place</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of castlesWithoutPhoto()">
        <td>{{ c.position }}</td>
        <td>{{ c.score_total | number:'1.0-0' }}</td>
        <td>
          <a [routerLink]="['/castles', c.castle_code]">{{ c.castle_name }}</a>
        </td>
        <td>
          <a [routerLink]="['/countries', c.country]">{{ c.country }}</a>
        </td>
        <td>{{ c.place }}</td>
        <td>
          <a [routerLink]="['/countries', c.country, { region: c.region }]">{{ c.region }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
